@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Lobster&family=Luxurious+Roman&family=Mochiy+Pop+P+One&display=swap');
/* font-family: 'Dancing Script', cursive;
font-family: 'Lobster', cursive;
font-family: 'Luxurious Roman', cursive;
font-family: 'Mochiy Pop P One', sans-serif; */

.main{
    background-color: rgb(223, 217, 217);
    padding: 30px;
}

.header{
    /*background-color:aqua;*/
    margin: 20px;
    padding: 20px;
}

.header h1{
    font-family: 'Dancing Script', cursive;
    text-align: center;
}
.header h5 {
    font-family: 'Luxurious Roman', cursive;
    text-align: justify;
}

.container{
    /*background-color: black;*/
    padding: 20px;
}

.ficha{
    /*background-color: yellow;*/
    display: flex;
    flex-direction: column;
}

.ficha li{
    font-family: 'Mochiy Pop P One', sans-serif;
}

.form-group row{
/*    background-color: orange;*/
}

.form-control{
    width: 95%;
}

.botoes{
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.botao{
    border-radius: 30%;
    font-size: 14px;
    border: none;
}

.botao:hover{
    opacity: 0.5;
}

.footer{
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.footer p{
    display: flex;
    justify-content: center;
    font-family: 'Lobster', cursive;
    font-size: 20px;
}

/* tabela Visualizar */
table {
    width: 100%;
    background-color: white;
    text-align: center;
}

th, td {
    border-bottom: 1px solid black;
}

table tr:hover {
    background-color: #5ae7e7;
}